# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.*
!.env.template

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Puppeteer
.puppeteer

# Secrets
.sc/cfg.default.yaml
.sc/cfg.integrail.yaml
.sc/cfg.github.yaml
.sc/stacks/*
!.sc/stacks/integrail-backend
!.sc/stacks/integrail-cloud
.sc/stacks/integrail-backend/secrets.yaml

# Database volumes
/data

.welder-out/**
package-lock.json
